* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,
footer {
	text-align: center;
	background-color: cadetblue;
	color: #fff;
	width: 100%;
	height: 80px;
}

/*
    section_name: contenedor definido para implementar
    margin o padding con el fin de separar las secciones
    entre si
*/
.section_name {
	padding: 150px 0;

	/*
        container_name: contenedor definido para manejar
        el responsive implementando width
    */
	.container_name {
		margin: 0 auto;

		/*
            @query de 899px <=== : definimos un width
            responsive en esta medida
        */
		@media (max-width: 899px) {
			width: 90%;
		}

		/*
            @query de 900px ===> : definimos un width
            responsive en esta medida
        */
		@media (min-width: 900px) {
			width: 50%;
		}

		/*
            content_flexbox: contenedor definido para
            implementar flebox si se requiere
        */
		.content_flexbox {
			/*
				box_accordeon: caja contenedora que definimos cuando no
				queremos que las propiedades flexbox afecten a cada caja
			*/
			.box_accordeon {
				/*
					content_accordeon: contenedor de accordeon_header y de
					accordeon_body
				*/
				.content_accordeon {
					/*
						cuando content_accordeon tiene el 
						pseudo elemento :target relaciona a 
						tag-svg agregandole color y rotacion al icono
					*/
					&:target .accordeon_header a svg {
						transform: rotate(180deg);
						fill: dodgerblue;
					}

					/*
						cuando content_accordeon tiene el 
						pseudo elemento :target relaciona a 
						tag-h3 agregandole color
					*/
					&:target  .accordeon_header a h3 {
						color: dodgerblue;
					}

					/*
						cuando content_accordeon tiene el 
						pseudo elemento :target relaciona a 
						accordeon_body agregandole una
						altura y haciendolo visible
					*/
					&:target .accordeon_body {
						height: auto;
						overflow: visible;
					}

					/*
						accordeon_header: contiene el indice del acordeon 
					*/
					.accordeon_header {
						a {
							text-decoration: none;
							display: flex;
							justify-content: space-between;
							color: #333;
							border-bottom: 1px solid #333;
							padding: 12px;

							h3 {
								color: #333;
							}
	
							svg {
								fill: #333;
								width: 24px;
								height: 24px;
								transition: transform 0.3s ease-in-out;
							}
						}
					} 

					/*
						accordeon_body: implementamos height: 0 y 
						overflow: hidden para ocultar este caja que se 
						muestra cuando content_acordeon tiene el
						pseudo elemento :target 
					*/
					.accordeon_body {
						height: 0;
						overflow: hidden;
						transition: height 0.3s ease-in-out;

						p {
							color: #333;
							padding: 12px;
						}

						a {
							display: block;
							padding: 12px;
						}
					}
				}

			}
		}
	}
}
